<form action="" class="d-flex flex-column justify-content-center align-items-center">
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Compras</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Cocina</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Lava</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Levanta y barre</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Cierra cocina</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Pone la mesa</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Jugos y agradece</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <div class="card d-flex justify-content-center">
    <p-fieldset>
      <ng-template pTemplate="header">
        <span style="font-size: 14px;">Mozos</span>
      </ng-template>
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
      <p-multiSelect
        [options]="this.dataServ.participants"
        optionLabel="name"
        placeholder="Seleccionar participante"
        required
      />
    </p-fieldset>
  </div>
  <p-button
    class="mt-2"
    [style]="{
      'margin-left': '0.5rem',
      'border-radius': '0.5rem',
      width: '15rem'
    }"
    [raised]="true"
    severity="success"
    label="Confirmar"
  />
</form>
