<p-listbox
  class="w-100"
  [options]="arrayIterate"
  [(ngModel)]="selectedItem"
  [listStyle]="{
    'min-height': '500px'
  }"
>
  <ng-template let-item pTemplate="item">
    <div
      class="item-container d-flex justify-content-between align-items-center w-100"
    >
      <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
        <div class="d-flex flex-column">
          <span class="elegido-name">{{ item.name }}</span>
          @if (item.participants) {
          <i style="font-size: 13px;">Número de participantes: {{item.participants}}</i>
          }
        </div>
        @if (item.elegidos) {
        <b>
          <div class="d-flex flex-wrap w-100">
            @for (elegido of item.elegidos; track elegido) {
            <div class="border p-2 bg-light rounded border">
              <div class="names d-flex justify-content-center">
                {{ elegido.name }}
              </div>
            </div>
            }
          </div>
        </b>
        }
      </div>
      <div class="d-flex">
        <app-button
        [buttonStyle]="{
          'margin-left': '0.5rem',
          'border-radius': '0.5rem'
        }"
        [buttonIcon]="'pi pi-pencil'"
        [buttonSeverity]="'success'"
        [isDisabled]="true"
      ></app-button>
        <app-button
          [buttonStyle]="{
            'margin-left': '0.5rem',
            'border-radius': '0.5rem'
          }"
          [buttonIcon]="'pi pi-trash'"
          [buttonSeverity]="'danger'"
          (click)="onClick(item, selectedItem)"
        ></app-button>
      </div>
    </div>
  </ng-template>
</p-listbox>
