<div class="d-flex justify-content-end w-100 p-2">
<p-button
    [style]="{ 'margin-left': '0.5rem', 'border-radius': '0.5rem', 'width': '15rem' }"
    icon="pi pi-trash"
    [raised]="true"
    severity="danger"
    label="Borrar todos"
    disabled
  />
</div>
<p-table [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Timestamp</th>
      <th>Compras</th>
      <th>Cocina</th>
      <th>Lava</th>
      <th>Levanta y barre</th>
      <th>Cierra cocina</th>
      <th>Pone la mesa</th>
      <th>Jugos y agradece</th>
      <th>Mozos</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.timestamp }}</td>
      <td>{{ task[0].elegidos[0].name }}-{{ task[0].elegidos[1].name }}</td>
      <td>{{ task[1].elegidos[0].name }}-{{ task[1].elegidos[1].name }}</td>
      <td>{{ task[2].elegidos[0].name }}-{{ task[2].elegidos[1].name }}</td>
      <td>{{ task[3].elegidos[0].name }}</td>
      <td>{{ task[4].elegidos[0].name }}-{{ task[4].elegidos[1].name }}</td>
      <td>{{ task[5].elegidos[0].name }}-{{ task[5].elegidos[1].name }}</td>
      <td>{{ task[6].elegidos[0].name }}</td>
      <td>{{ task[7].elegidos[0].name }}-{{ task[7].elegidos[1].name }}</td>
      <td class="d-flex">
        <p-button
          [style]="{ 'margin-left': '0.5rem', 'border-radius': '0.5rem' }"
          icon="pi pi-print"
          [raised]="true"
           severity="success"
           disabled
        />
        <p-button
        [style]="{ 'margin-left': '0.5rem', 'border-radius': '0.5rem' }"
        icon="pi pi-trash"
        [raised]="true"
        severity="danger"
        disabled
      />
      </td>
    </tr>
  </ng-template>
</p-table>
