<div class="d-flex flex-wrap justify-content-end w-100 p-2">
  <app-button
    [buttonLabel]="'Añadir manualmente'"
    [buttonStyle]="{
      'margin-left': '0.5rem',
      'border-radius': '0.5rem',
      width: '15rem',
      'margin-top': '0.5rem'
    }"
    (click)="showDialog()"
    [buttonIcon]="'pi pi-arrow-circle-up'"
    [buttonSeverity]="'success'"
  >
  </app-button>
  <app-button
    [buttonLabel]="'Visualizar data'"
    [buttonStyle]="{
      'margin-left': '0.5rem',
      'border-radius': '0.5rem',
      width: '15rem',
      'margin-top': '0.5rem'
    }"
    (click)="showDialogGraph()"
    [buttonIcon]="'pi pi-eye'"
  >
  </app-button>
</div>
<p-table [value]="tasks" class="responsive-table" [style]="{ width: '100%' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Timestamp</th>
      @for (activity of tableTitles; track activity) {
      <th>{{ activity.name }}</th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.timestamp }}</td>

      @for (activity of tableTitles; track activity) {
      <td>
        <ng-container *ngIf="task[activity.id]?.elegidos?.length > 0">
          @for (elegido of task[activity.id].elegidos; track elegido) {
          <span>
            {{ elegido.name }}
            @if (elegido !==
            task[activity.id].elegidos[task[activity.id].elegidos.length - 1]) {
            <span> - </span> }
          </span>
          }
        </ng-container>
      </td>
      }
      <td class="d-flex">
        <app-button
          [buttonStyle]="{ 'margin-left': '0.5rem', 'border-radius': '0.5rem' }"
          (click)="deleteTask(task.timestamp)"
          [buttonIcon]="'pi pi-trash'"
          [buttonSeverity]="'danger'"
        ></app-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog
  class="responsive-dialog"
  header="Añadir dato manualmente"
  [modal]="true"
  [(visible)]="dialog"
  [style]="{ width: '90vw', 'max-width': '800px' }"
>
  <app-add-manual-data (confirm)="onConfirm()"></app-add-manual-data>
</p-dialog>
<p-dialog
  class="responsive-dialog"
  header="Visualizar data"
  [modal]="true"
  [(visible)]="dialogGraph"
  [style]="{ width: '90vw', 'max-width': '800px' }"
>
  <app-graphs></app-graphs>
</p-dialog>
