<div class="bg-dark w-100" style="height: 100vh;">
  <p-toast></p-toast>
  <div class="container-fluid bg-dark h-100">
    <div
      class="row d-flex justify-content-around align-items-center"
      style="height: 100vh"
    >
      <div
        class="h-100 col-xl-6 col-md-12 col-sm-12 d-flex flex-column align-items-center justify-content-center"
      >
        <p-listbox
          class="w-100"
          [options]="dataServ.activities"
          [(ngModel)]="selectedParticipant"
          [listStyle]="{
          'min-height': '500px',
        }"
        >
          <ng-template let-item pTemplate="item">
            <div
              class="item-container d-flex justify-content-between align-items-center w-100"
            >
              <div class="d-flex align-items-center justify-content-center">
                <span class="elegido-name">{{ item.name }}:</span>
                <b>
                  <span
                    class="elegido-name"
                    *ngFor="let elegido of item.elegidos"
                    >-{{ elegido.name }}</span
                  ></b
                >
              </div>
              <div>
                <button
                  pButton
                  icon="pi pi-trash"
                  class="p-button-danger rounded"
                  (click)="removeActivityAndShowToast(item, selectedActivity)"
                ></button>
              </div>
            </div>
          </ng-template>
        </p-listbox>
        <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
          <div>
          <p-button
          (onClick)="showDialog()"
          label="Ver historia"
          [raised]="true"
          [style]="{ 'margin-top': '2rem', 'border-radius': '0.5rem', 'margin-right': '0.5rem', 'width' : '8rem' }"
        />
          <p-button
            (click)="dataServ.sort(dataServ.participants)"
            label="Sortear"
            [raised]="true"
            [style]="{ 'margin-top': '2rem', 'border-radius': '0.5rem', 'width' : '8rem' }"
          />
        </div>
        </div>
      </div>
      <div
        class="col-xl-6 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center bg-dark"
      >
        <p-listbox
          class="w-100"
          [options]="dataServ.participants"
          [listStyle]="{
          'min-height': '500px',
        }"
        >
          <ng-template let-item pTemplate="item">
            <div
              class="item-container d-flex justify-content-between align-items-center w-100"
            >
              <span>{{ item.name }}</span>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger rounded"
                (click)="
                   removeParticipantAndShowToast(item, selectedParticipant)
                "
              ></button>
            </div>
          </ng-template>
        </p-listbox>
        <div class="d-flex flex-wrap align-items-center w-100 justify-content-between">
          <p-floatLabel style="margin-top: 2rem">
            <input pInputText [(ngModel)]="participantInputValue" />
            <label for="username">Añadir participante</label>
            <p-button
              (click)="addParticipantAndClear()"
              [style]="{ 'margin-left': '0.5rem', 'border-radius': '0.5rem' }"
              icon="pi pi-check"
              [raised]="true"
              [disabled]="participantInputValue === ''"
            />
          </p-floatLabel>
          <p-button
          label="Imprimir"
          [raised]="true"
          [style]="{'border-radius': '0.5rem', 'margin-top': '2rem' }"
          (click)="print()"
        />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" #printSection id="printSection">
  <div *ngFor="let item of dataServ.participants; let i = index">
    <p><b>{{i+1}}-</b>{{ item.realname }}</p>
  </div>
  <div class="border" *ngFor="let item of dataServ.activities">
    <b><span>{{ item.name }}: </span></b>
      <span *ngFor="let elegido of item.elegidos">-{{elegido.name}}</span>
  </div>
</div>

<p-dialog
class="responsive-dialog"
  header="Historia"
  [modal]="true"
  [(visible)]="dialog"
  [style]="{'width': '90vw', 'max-width': '1200px'}"
>
<app-historic-data></app-historic-data>
</p-dialog>
