<app-list-component
[items]="dataServ.activities"
[(selectedItem)]="selectedActivity"
[listWidth]="'800px'"
[itemTemplate]="activityTemplate"
>
</app-list-component>

<ng-template #activityTemplate let-item>
<div class="item-container" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
  <div style="display: flex; align-items: center;">
    <p class="elegido-name">{{ item.name }}:</p>
    <b><span class="elegido-name" *ngFor="let elegido of item.elegidos">-{{ elegido.name }}</span></b>
  </div>
  <div>
    <button pButton icon="pi pi-trash" class="p-button-danger" (click)="dataServ.removeActivity(item, selectedActivity)"></button>
  </div>
</div>
</ng-template>